<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8' />
	<title>Cloud Code Demo - 3 - Parse.Cloud.httpRequest</title>
</head>
<body>
</body>
<script src='https://www.parsecdn.com/js/parse-1.2.18.min.js'></script>
<script>
	Parse.initialize("Uj7WryNjRHDQ0O3j8HiyoFfriHV8blt2iUrJkCN0", "owBEWHkWBEEmmaukvUiKSOJhuSaQcOrKqhzqGNyi");
	Parse.Cloud.run('get', {singer: 'John Mayer'}, {
		success: function(result) {
			window.alert(result);
		},
		error: function(error) {

		}
	});
</script>
</html>

